body {
    background: #2C3E50;
    font-family: Lato, Helvectica, sans-serif;
}
h1 {
    color: #44596E;
    text-align: center;
}
.about {
    color: #44596E;
    text-align: center;
}
.skills {
    color: #44596E;
    text-align: center;
}
.projects {
    color: #44596E;
    text-align: center;
}
.contacts {
    color: #7F8C8D;
    text-align: left;
}