title {
    text-align: left;
}

body {
    background: #2C3E50;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ECF0F1;
    text-align: center;
}

h2 {
    color: #6f8ead;
    font-size: 20;
    text-align: center; 
}

.about {
    background: #44596E;
    text-align: center;   
    color: #ECF0F1; 
}

.skills {
    color: #ECF0F1;
    background: #44596E;
    text-align: center;
}

.project {
    color: #BDC3C7;
    background: #44596E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
}

/* AI Generated Code */
.projects { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 40px auto;
    gap: 10px;
} 

.a {grid-column: 2; grid-row: 1; /* center top */}
.b {grid-column: 1; grid-row: 2; /* left mid */}
.c {grid-column: 3; grid-row: 2; /* right mid */}
.d {grid-column: 2; grid-row: 3; /* center bottom */}
/* AI Generated Code */

.projects h2 {
    width:100%;
    background: #44596E;
    text-align: center;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #bdc3c7;
    display: block;
    margin: auto;
}

.project p { 
    text-align: center;
    margin: 10px;
    color: #ECF0F1;
}

.contacts {
    background: #44596E;
    text-align: center;
    font-size: 10;
}

a { 
    text-decoration: none;
    color: #b5e4f0;
}