title {
    text-align: left;
}

body {
    background: #2C3E50;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ECF0F1;
    text-align: center;
}

h2 {
    color: #6f8ead;
    font-size: 20;
    text-align: center; 
}

.about {
    background: #44596E;
    text-align: center;   
    color: #ECF0F1; 
}

.skills {
    color: #ECF0F1;
    background: #44596E;
    text-align: center;
}

.projects h2 {
    width:100%;
    background: #44596E;
    text-align: center;
}

.project {
    color: #BDC3C7;
    background: #44596E;
    text-align: center; 
    width: 30%;
    padding: 25px 10px;
    border-radius: 25%;
}

.projects h2 {
    width:100%;
    background: #44596E;
    text-align: center;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #bdc3c7;
    display: block;
    margin: auto;
}

.project p { 
    text-align: center;
    margin: 10px;
    color: #ECF0F1;
}

.contacts {
    background: #44596E;
    text-align: center;
    font-size: 10;
}

a { 
    text-decoration: none;
    color: #b5e4f0;
}