body {
    background: #2C3E50;
    font-family: Lato, Helvectica, sans-serif;
}
h1 {
    color: #44596E;
    text-align: center;
}
.about {
    background: #ECF0F1;
}
.skills {
    background: #ECF0F1;
}
.projects {
    background: #ECF0F1;
}
.contacts {
    background: #ECF0F1;
}